@import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css");
@import url("https://1.www.s81c.com/common/carbon/plex/sans.css");
@import url("https://1.www.s81c.com/common/carbon/plex/mono.css");

@import "tailwindcss/index.css";
@import "../../../exports/tailwind.css";

@source "../../../index.html";
@source "../../**/*.{vue,js,ts,jsx,tsx}";
@source "../../../src/**/*.{vue,js,ts,jsx,tsx}";

html,
body {
  height: 100%;
}

html.dark,
html.dark body {
  background-color: var(--color-gray-900, #111827);
  color-scheme: dark;
}

@layer base {
  .text-2xs {
    font-size: 0.625rem;
    line-height: 1rem;
  }

  .text-h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
    font-weight: 900;
  }

  .text-h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 900;
  }

  .text-h3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: 900;
  }

  .text-h4 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 900;
  }

  .text-overline {
    letter-spacing: var(--tracking-widest);
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1rem;
  }
}

@layer components {
  .docs-container {
    max-width: var(--breakpoint-2xl);
    margin-inline: auto;
    width: 100%;
    padding-inline: 1rem;
    margin-top: 2rem;
  }

  @media (width >= 48rem) {
    .docs-container {
      padding-inline: 2rem;
      margin-top: 4rem;
    }
  }
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
