name: Update docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [18]

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build documentation
        run: |
          pnpm build:docs
          cp ./packages/docs/dist/index.html ./packages/docs/dist/404.html

      - name: Update pages
        working-directory: ./packages/docs/dist
        run: |
          git config --global init.defaultBranch master
          git init
          git config user.name 'IndieBot'
          git config user.email 'bot@indielayer.com'
          git add .
          git commit -m "chore: deploy documentation: ${{github.sha}}"
          git push -f https://${{ secrets.PAT }}@github.com/indielayer/ui master:gh-pages
